<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/Info/user.css' %}">
        <title> Change Personal Information | LTWFlix </title>
        {% comment %} Alert JS {% endcomment%}
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    </head>
    
    <body>
        {% comment %} alertifyjs - Thông báo  {% endcomment %}
            <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
            <script>
                alertify.set('notifier','position', 'top-right');
            </script>
            {% for msg in messages %}
                {% if msg.tags == "error" %}
                    <script>
                        alertify.error('{{msg}}'); 
                    </script>
                {% else %}
                    <script>
                        alertify.success('{{msg}}');
                    </script>
                {% endif %}
            {% endfor %}
        <h1 class="h2_name" style="color:#3DD2CC">Change Info</h1>
        <!-- <div class="col-25">
            <label for="fname" style="color:#3DD2CC; margin-left: 110%; font-size: 25x;">Birthday</label> -->
          </div>
          <div class="col-75">
            <form method="POST" style="padding-left: 20%;" enctype="multipart/form-data">
                {% csrf_token %}
                {{u_form.as_p}}
                {{p_form.as_p}}
                <div style="margin-left:48%; margin-top:3%; margin-bottom: 3%;">
                    <a href="{%url 'info'%}" class="save" style="text-decoration:none;">Cancel</a>
                    <button type="submit" class="save">Save</button>
                </div>
            </form>
            <!-- <input type="text" id="fname" name="firstname" placeholder="DD/MM/YY"> -->
            
    </body>
</html>