<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/Info/user.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Personal information | LTWFlix </title>
        {% comment %} Alert JS {% endcomment%}
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    </head>
    

    <body>
        {% comment %} alertifyjs - Thông báo  {% endcomment %}
            <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
            <script>
                alertify.set('notifier','position', 'top-right');
            </script>
            {% for msg in messages %}
                {% if msg.tags == "error" %}
                    <script>
                        alertify.error('{{msg}}'); 
                    </script>
                {% else %}
                    <script>
                        alertify.success('{{msg}}');
                    </script>
                {% endif %}
            {% endfor %}
        <a href="{%url 'home'%}" class="home"><i class="fa fa-home"></i></a>
        <img src="{{avatar}}"  alt="Avatar" style="border-radius: 50%; width:160px;height:150px; position: absolute; left: 45%; top:7%;">
        <div style="margin-top:15%; margin-left: 45%; margin-bottom: -12%;">
            <a href="{% url 'change_info'%}">
                    <button class="pic">Update Picture</button>
            </a>
        </div>
       
        <h1>Your profile</h1>
        <section style="margin-top: 17%; margin-left: 10%; margin-right: 20%;">
        <div>
            <h4>Name</h4>
            <p class="info">{{name}}</p>
            <aside style="margin-top:-3%">
                <a href="{% url 'change_info' %}">
                <button class="btn" style="margin-left:93%;margin-bottom: -5%;"><i class="fa fa-pencil"></i></button>
                </a>
            </aside>
        </div>
        <div>
            <h4>Birthday</h4>
            <p class="info">{{birthday}}</p>
            <aside style="margin-top:-3%">
                <a href="{% url 'change_info' %}">
                <button class="btn" style="margin-left:93%;margin-bottom: -5%;"><i class="fa fa-pencil"></i></button>
                </a>
            </aside>
        </div>
        <div>
            <h4>Gender</h4>
            <p class="info">{{gender}}</p>
            <aside style="margin-top:-3%">
                <a href="{% url 'change_info' %}">
                <button class="btn" style="margin-left:93%;margin-bottom: -5%;"><i class="fa fa-pencil"></i></button>
                </a>
            </aside>
        </div>
        <div>
            <h4>Email</h4>
            <p class="info">{{email}}</p>
        </div>
        <div style="margin-top:30px">
            <a class="changepw" href="{% url 'change_password' %}">
                Change Password
            </a>
        </div>
        </section>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(window).on("load", function(){
                $(".loader-wrapper").fadeOut(1000);
            });
        </script>
    </body>
</html>