<!DOCTYPE html>
<html>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/Info/user.css' %}">
    <body>
        <h1 class="h2_name" style="color:#3DD2CC; padding-bottom: 5%;">Reset Password</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="col-25">
              </div>

                    <!-- <p style="border-bottom:none ;"><label style="color:#3DD2CC; padding-left: 6.5px;">Old Password:</label>{{form.old_password}}</p>
                    <p style="border-bottom:none ;"><label style="color:#3DD2CC;">New Password:</label>{{form.new_password1}}</p>
                    <p style="border-bottom:none;"><label style="color:#3DD2CC;padding-left: 4.2%;">Confirm New Password:</label>{{form.new_password2}}</p> -->
                    {{form.as_p}}

                <div style="margin-left:48%; margin-top:3%">
                    <a href="{%url 'info'%}" class="save" style="text-decoration:none;">Cancel</a>
                    <button type="submit" class="save">Save</button>
                    
                </div>
        </form>
    </body>
</html>