<!DOCTYPE html>
<html>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/Info/user.css' %}">
    <body>
        <h1 class="h2_name" style="color:#3DD2CC; padding-bottom: 5%;">Reset Password</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="col-25">
              </div>
                    {{form.as_p}}

                <div style="margin-left:25%; margin-top:3%">
                    <button type="submit" class="save">Send</button>
                </div>
        </form>
    </body>
</html>