<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
 <meta charset="utf-8" />
 <link rel="stylesheet" href="{% static 'css/Home/style.css' %}" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
 {% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"> {% endcomment %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
 <title>Home | LTWFlix</title>  
 {% comment %} Alert JS {% endcomment%}
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>   
    
 </head>
 <body>
        {% comment %} alertifyjs - Thông báo {% endcomment %}
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script>
            alertify.set('notifier','position', 'top-right');
        </script>
        {% for msg in messages %}
            {% if msg.tags == "error" %}
                <script>
                    alertify.error('{{msg}}'); 
                </script>
            {% else %}
                <script>
                    alertify.success('{{msg}}');
                </script>
            {% endif %}
        {% endfor %}
    <div class="container-fluid overflow-hidden index">
        <div class="row flex-nowrap vh-100 overflow-auto">
            <div class="col-auto col-md-3 col-xl-2 px-sm-6 px-0 sticky-top">
                <div class="d-flex flex-column  align-items-center align-items-sm-start px-4 pt-2 min-vh-100 sidebar" >
                  <div class="d-flex pt-3 align-items-center pb-5 mb-md-4 mx-auto me-md-auto img-brand" >
                    <img class="fs-5 d-none d-sm-inline brand"  src="{% static 'css/Movies/css/Logo/Vector.png' %}" alt=""></img>
                  </div>
                  <ul class="nav nav-pills pt-3 px-3 flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                      <a href="{% url 'home' %}" class="nav-link align-middle p-3 px-0 home">
                        <i class="fas fa-home fa-icon home_i"></i>
                        <span class="ms-2 d-none d-sm-inline">Home</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'movies'%}" class="nav-link px-0 p-3 align-middle ">
                        <i class="fas fa-video fa-icon movies_i"></i>
                        <span class="ms-2 d-none d-sm-inline">Movies</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'home'%}#TVseries" class="nav-link px-0 p-3  align-middle ">
                        <i class="fas fa-tv fa-icon "></i>
                        <span class="ms-2 d-none d-sm-inline">TV Series</span></a >
                    </li>
                    <li>
                      <a href="{% url 'home' %}#Upcoming" class="nav-link px-0 p-3  align-middle">
                        <i class="fas fa-calendar-alt fa-icon"></i>
                        <span class="ms-2 d-none d-sm-inline">Upcoming</span></a >
                    </li>
                    <li>
                      <a href="{% url 'library' %}"  class="nav-link px-0 p-3  align-middle" >
                        <i class="fas fa-book-open"></i>
                        <span class="ms-2 d-none d-sm-inline">Library</span>
                      </a>
                    </li>
                    <li>
                      <a href="{% url 'log_out' %}" class="nav-link px-0 align-middle mt-5 p-3">
                        <i class="fas fa-sign-out-alt fa-icon"></i>
                        <span class="ms-2 d-none d-sm-inline">Log out</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col py-3">
                <div class="row">
                    <div class="top">
                        <div class="container p-2 navbar navbar-expand-xl">
                            <div class="container-fluid ">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                  aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                                    <div class="search">
                                        <form class="pt-2" action="{% url 'search' %}" method="GET">
                                            <i type ="submit" class="px-3 fas fa-search" style="color:#cccccc;"></i>
                                            <input class=" p-2 px-5 keyword" type="text" name="keyword" placeholder="Search for movies, TV show..." value >
                                        </form>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mt-2 top-left">
                                    <div class="p-2">
                                        <form method="post" name="notify">
                                            {% csrf_token %}
                                            {% if not profile.is_need_to_notify %}
                                               <button name="notify" class="rounded-pill bell " type="submit" onclick="notify()"><i class="pt-2 pb-2 far fa-bell ibell" style="width:28px;"></i></button>
                                            {% else %}
                                               <button name="notify" class="rounded-pill bell " type="submit" onclick="notify()"><i class="pt-2 pb-2 far fa-bell ibell" style="width:28px; color: aqua;"></i></button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                                <div class=" px-2">
                                    <a class="navbar-brand" href="{% url 'info' %}"><img class="rounded-pill" style="width:45px;" src="{{avatar}}"></a>
                                </div> 
                            </div>

                        </div>

                    </div>
                    <div class="center mt-3 px-5">
                        <div class="row">
                            <div class="col-md-8 mx-auto center_left">
                                <div class="grid__row-4">

                                    <div class="grid_heading_play_info">
                                        {% for movie in movies %}
                                        {% if movie.title == 'Moonfall'%} 
                                        <a class="grid_heading_play_more" href="{% url 'watch' movie.id%}"  style="text-decoration:none;"> 
                                                <i class="fas fa-play"></i>
                                                Play
                                        </a>
                                        {% endif%}
                                        {% endfor %}
                                        {% for movie in movies %}
                                        {% if movie.title == 'Moonfall'%} 
                                        <a href="{% url 'detail' movie.id %}"  class="grid_heading_play_more" style="text-decoration:none;"> 
                                                <i class="fas fa-exclamation-circle"></i>
                                                More info
                                        </a>
                                        {% endif%}
                                        {% endfor %}
                                    </div>
                             
                                 
                                </div>
                                <div class="grid__row-4-Body">
                                    <div class="Head__Up">Trending</div>
                                    <a class="Head__See" href="{% url 'seeall_trending_english' 'T' %}">See all</a>
                                </div> 
                
                                <div class="grid__row-4">
                                    {% for movie in trending %}
                                        <button class="column__movie">
                                            <a href="{% url 'detail' movie.id %}">
                                                <img class="img-movie" src="{{movie.image.url}}" alt="" style="width:160px; height:252px; border-radius: 10px;" />
                                            </a>
                                        </button>
                                    {% endfor %}
                                   
                                </div>
                                <div class="grid__row-4-Body">
                                    <div class="Head__Up">
                                        <a name="Upcoming">Upcoming</a>
                                    </div>
                                    <a class="Head__See" href="{% url 'seeall_trending_english' 'U' %}">See all</a>
                                </div>  
                                <div class="grid__row-4">
                                    {% for movie in upcoming %}
                                        <button class="column__movie">
                                            <a href="{% url 'detail' movie.id %}">
                                                <img class="img-movie" src="{{movie.image.url}}" alt="{{movie.title}}" style="width:160px; height:252px; border-radius: 10px;"/>
                                            </a>
                                        </button>
                                    {% endfor %}
                                    
                                </div>   
                                <div class="grid__row-4-Body">
                                    <div class="Head__Up">
                                        <a name="TVseries">TV Series</a>
                                    </div>
                                    <a class="Head__See" href="{% url 'seeall_trending_english' 'TV' %}">See all</a>
                                </div>  
                                <div class="grid__row-4">
                                    {% for movie in tv_series %}
                                        <button class="column__movie">
                                            <a href="{% url 'detail' movie.id%}">
                                                <img class="img-movie" src="{{movie.image.url}}" alt="{{movie.title}}" style="width:160px; height:252px; border-radius: 10px;"/>
                                            </a>
                                        </button>
                                    {% endfor %}
                                </div>   
                                <div class="grid__row-4-Body">
                                    <div class="Head__Poplular">
                                        <a name="onSeptember">Popular movies on september</a>
                                    </div>
                                    <a class="Head__See" href="{% url 'seeall_trending_english' 'PS' %}">See all</a>
                                </div>  
                                <div class="grid__row-4">
                                    {% for movie in ps %}
                                        <button class="column__movie">
                                            <a href="{% url 'detail' movie.id %}">
                                                <img class="img-movie" src="{{movie.image.url}}" alt="{{movie.title}}" style="width:160px; height:252px; border-radius: 10px;"/>
                                            </a>
                                        </button>
                                    {% endfor %}
                                </div>   
                            </div>
                            <div class="col-md-4 d-sm-none d-md-block d-none d-block center_right ">
                                <div class="grid__row-4__grid-Check">                                
                                    <div class="grid__column-List">Categories</div>                                      
                                </div>
                                <div class="container__Check">      
                                    <div class="Check">          
                                        <div class="text__Check" style="padding-top:5%"> Action</div>                                        
                                    </div>                                        
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Drama</div>                                           
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check"> Comedy</div>                                           
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check"> Romance</div>                                            
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Adventure</div>                                               
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Documentary</div>                                               
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Family</div>                                        
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Historical</div>                                        
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Musical</div>                                        
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Horror</div>                                        
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Science fiction</div>                                        
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">Tragedy</div>                                        
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check">          
                                        <div class="text__Check">War</div>                                        
                                    </div>
                                    <hr class="hr_h">
                                    <div class="Check" style="padding-bottom:5%">          
                                        <div class="text__Check" style=>Westerns</div>                                        
                                    </div>
                                </div>                                
                            </div> 

                            </div>
                            
                        </div>
                    </div>
            <div class="grid__column-8">        
                <div class="container__search">                    
                    <div class="text__search">
                        <form action="{% url 'search' %}" method="GET">
                        <i type ="submit" class="fas fa-search"></i>
                        <input class="keyword" type="text" name="keyword" placeholder="Search for movies, TV show..." value >
                    </div>
                        <div style="display: none;" id="suggestions" class="top-search-box"></div>
                    </form>
                </div>
                       
                
                
            <div class="grid__column-2-right">
                <div class="grid__row-4">
                    {% comment %} <form method="post" name="notify">
                        {% csrf_token %} {% endcomment %}
                        <button name="notify" class="button__Notifi"type="submit" onclick="notify()"><i class="far fa-bell"></i></button>
                    {% comment %} </form> {% endcomment %}
                    <button class="button__User" type="button" onclick="user()" style="background-color:#292929">
                        <a href="{% url 'info'%}">
                            <img src="{{avatar}}">
                        </a>
                    </button>
                </div>
                <div class="grid__row-4__grid-Check">
                    <div class="grid__column-List">Categories</div>  
                    <div class="grid__column-Check">Uncheck all</div>                    
                </div>
                <div class="container__Check">      
                    <div class="Check">          
                        <div class="text__Check"> Action</div>
                        <input type="checkbox" name="vehicle1" value="Action">
                    </div>    
                       
                        <hr class="hr_h">
                        <div class="Check">          
                            <div class="text__Check"> Adventure</div>
                            <input type="checkbox" name="vehicle1" value="Action">
                        </div>
                        <hr class="hr_h">
                        <div class="Check">          
                            <div class="text__Check"> Animated</div>
                            <input type="checkbox" name="vehicle1" value="Action">
                        </div>
                        <hr class="hr_h">
                        <div class="Check">          
                            <div class="text__Check"> Comedy</div>
                            <input type="checkbox" name="vehicle1" value="Action">
                        </div>
                            <hr class="hr_h">
                            <div class="Check">          
                                <div class="text__Check"> Crime</div>
                                <input type="checkbox" name="vehicle1" value="Action">
                            </div>
                            <hr class="hr_h">
                            <div class="Check">          
                                <div class="text__Check"> Fantasy</div>
                                <input type="checkbox" name="vehicle1" value="Action">
                            </div>
                            <hr class="hr_h">
                            <div class="text__More">See more</div>

                </div>
                <div class="grid__row-4__grid-Check">
                    <div class="grid__column-List">Services</div>  
                    <div class="grid__column-Check">Uncheck all</div>                    
                </div>
                <div class="container__Check">      
                    <div class="Check">          
                        <div class="text__Check"> Netflix</div>
                        <input type="checkbox" name="vehicle1" value="Action">
                    </div>    
                       
                        <hr class="hr_h">
                        <div class="Check">          
                            <div class="text__Check"> Prime video</div>
                            <input type="checkbox" name="vehicle1" value="Action">
                        </div>
                        <hr class="hr_h">
                        <div class="Check">          
                            <div class="text__Check"> Disney +</div>
                            <input type="checkbox" name="vehicle1" value="Action">
                        </div>
                        <hr class="hr_h">
                        <div class="Check">          
                            <div class="text__Check"> HBO max</div>
                            <input type="checkbox" name="vehicle1" value="Action">
                        </div>
                            <hr class="hr_h">
                            <div class="Check">          
                                <div class="text__Check"> Hulu</div>
                                <input type="checkbox" name="vehicle1" value="Action">
                            </div>
                            <hr class="hr_h">
                            <div class="Check">          
                                <div class="text__Check"> Starz</div>
                                <input type="checkbox" name="vehicle1" value="Action">
                            </div>
                            <hr class="hr_h">
                            <div class="text__More">See more</div>

                </div>      

            </div>
        </div>
    </div>
    </div>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(window).on("load", function(){
            $(".loader-wrapper").fadeOut(1000);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
 </body>
</html>