{% extends '.\Home\SeeAll_Trending_English.html' %}

{% block seeall_filer %}
    <div style="width: 100%; margin-left: 2%;">
        {% if movie_national %}
            <h3 style ="margin-top=0px ; color: white;">{{movie_national|title}} Movies</h3>
        {% endif %}

        {% if movie_category %}
            <h3 style ="margin-top=0px ; color: white;">{{movie_category|title}} Movies</h3>
        {% endif %}

        {% if movie_format %}
             <h3 style ="margin-top=0% ; color: white;">{{movie_format|title}} Movies</h3>
        {% endif %}

        {% if movie_sort %}
             <h3 style ="margin-top=0% ; color: white;">{{movie_sort|title}} Movies</h3>
        {% endif %}
        {% if movie_condition %}
             <h3 style ="margin-top=0% ; color: white;">{{movie_condition|title}} Movies</h3>
        {% endif %}   

        {% if movie_year %}
            <h3 style ="margin-top=0% ; color: white;"> Movies produced in {{movie_year|title}} </h3>
        {% endif %}   

        
        <div style ="display: flex;  flex-wrap: wrap;"> 
            {%for movie in object_list %}
            <div class="mov">
                <button class="column__movie">
                    <a href="{% url 'detail' movie.id %}">
                        <img class="img-movie" src="{{movie.image.url}}" alt="" style="width:160px; height:252px; border-radius: 10px;" />
                    </a>
                </button>
            </div>
            {%empty%}
                <h3 style="color:#FEFEFE; margin-top=50%">There are no movies in this Category </h3>
            {%endfor%}
    
        </div>
        

    </div>
    <div class="pagination justify-content-center" style="width:100%;">
        <span class="step-links" style="display: inline-flex;">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></i>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></i>
               
            {% endif %}
    
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item"><a class="page-link active" href="?page={{i}}">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></i>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></i>
            {% endif %}
        </span>
    </div>
{% endblock  %}