<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trailer_Detail | LTWFlix</title>
        <link rel="stylesheet" href="{% static 'css/Trailer_Detail/Trailer_Detail.css'%}">
    </head>
    <body>
        <div class="Container">
            <div class="left">
                <img id="brandname" src="{% static 'css/Trailer_Detail/image/icon/BrandNameLogin.png'%}" >
                <div class="button">
                    <ul>
                        <li><a href="{% url 'home' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-home-page-48.png'%}" alt="home"><label><b style="background:none;">Home</b></label></a></li>
                        <li><a id="main" href="{% url 'movies' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-video-call-48.png'%}" alt="movies"><label><b style="background:none;">Movies</b></label></a></li>
                        <li><a href="{% url 'home'%}#TVseries"><img id="series" src="{% static 'css/Trailer_Detail/image/icon/icons8-tv-48.png'%}" alt="series"><label><b style="background:none;">TV Series</b></label></a></li>
                        <li><a href="{% url 'home' %}#Upcoming"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-calendar-48.png'%}" alt="upcoming"><label><b style="background:none;">Upcoming</b></label></a></li>

                    </ul>
                </div>
                <div class="logout">
                    <a href="{% url 'log_in' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-logout-acc-48.png'%}" alt="logout"><label><b style="background:none;">Logout</b></label></a>
                </div>
            </div>
            <div class="center">
                <div class="top">
                    <button class="bell" type="button" onclick="notification()">
                        <img src="{% static 'css/Trailer_Detail/image/icon/icons8-notification-30.png'%}">
                    </button>
                    <button class="user" type="button" onclick="user()">
                        <a href="{% url 'info' %}">
                            <img src="{% static 'css/Trailer_Detail/image/user.png'%}">
                        </a>
                    </button>
                    <div class="top_left">
                        <form method="GET" id="from-search" action="https://movie.HD/search/" style="width:auto">
                            <div class="search">
                                <img src="{% static 'css/Trailer_Detail/image/icon/icons8-search-30 (1).png'%}">
                                <input class="keyword" type="text" name="keyword" placeholder="Search for movies, TV show,..." value >
                            </div>
                            <div style="display: none;" id="suggestions" class="top-search-box"></div>
                        </form>
                    </div>
                </div>
                <div class="trailer_vid" >
                    <div class="vid">
                        <div class="play">
                            <video id="vid" width="945px"  poster="{% static 'css/Trailer_Detail/image/trailer.jfif'%}" >
                                <source src="{% static 'css/Trailer_Detail/vid/vid.mp4'%}" type="video/mp4">
                                Your browser doesn't support html video.
                            </video>
                            <button id="playbt" onclick="playPause()">
                                <img src="{% static 'css/Trailer_Detail/image/icon/icons8-play-48.png'%}">
                            </button>
                        </div>
                    </div>
                    <script>
                        var myVideo=document.getElementById("vid");
                        const button=document.getElementById("playbt");
                        button.addEventListener("click",()=>{
                            button.style.visibility="hidden";
                            playPause();        
                        })
                        function playPause(){
                            if(myVideo.paused)
                            {
                                myVideo.play();
                                vid.controls="true";
                            }
                        }
                    </script>
                </div>
                <div class="body_center">
                    <div class="body_left">
                        <div class="Detail_movies">
                            <div class="title_movies">
                                <h5>
                                    <ul>
                                        <li id="first_ele">Top Gun: Maverick</li>
                                        <li>2022</li>
                                        <li>PG-13</li>
                                        <li>2h10m</li>
                                    </ul>
                                </h5>
                                <h6 style="font-size:10px;color:aliceblue">
                                    <label>Action</label>
                                    <label>Drama</label>
                               </h6>
                               <p style="font-size:12px; margin-bottom:10px;">
                                   <br>After thrity years, Maverick is still pushing the envelope as a top naval aviator,
                                   but must confront<br> ghosts of his past when he leads TOP GUN's elite graduates
                                   on a mission that demands the<br> ultimate sacrifice from those chosen to fly it.
                               </p>
                            </div>
                            <div class="info">  <!--Thông tin đạo diễn, diễn viên-->
                                <hr>
                                <p>Director :  <span style="color:cadetblue">Joseph Kosinski</span></p>
                                <hr>
                                <p>Writers : <span style="color:cadetblue">Jim Cash, Jack Epps Jr, Peter Craig</span></p>
                                <hr>
                                <p>Stars : <span style="color:cadetblue">Tom Cruise, Jennifer Connelly, Miles Teller</span></p>
                                <hr>
                                <a href="{% url 'watch' %}">Watch movie</a>
                                    <button class="rate_button" type="button" onclick="topRate()">Top rated movie #65</button>
                                    <select>
                                        <option>Awards 3 nominations</option>
                                        <option>Best movie</option>
                                        <option>Top 3 Healing movie</option>
                                        <option>Top 1 Action movie</option>
                                    </select>
                            </div>
                            <div class="info_characters">  <!--Thôgn tin chi tiết dv-->
                                <h4>Top Cast</h4>
                                <ul>
                                    <li><img src="{% static 'css/Trailer_Detail/image/tomcruise.webp'%}" alt="Tom Cruise">
                                        <b><br>Tom Cruise</b><br>Capt. Pete Mitchell<br> (Maverick)
                                    </li>
                                    <li><img src="{% static 'css/Trailer_Detail/image/jennifer.jpg'%}" alt="Jennifer Connelly">
                                        <b><br>Jennifer Connelly</b><br>Penny Benjamin
                                    </li>
                                    <li><img src="{% static 'css/Trailer_Detail/image/miliies.webp'%}" alt="Millies Teller">
                                        <b><br>Millies Teller</b><br>Lt. Bradley Bradshow<br>(Rooster)
                                    </li>
                                    <li><img src="{% static 'css/Trailer_Detail/image/vai.jpg'%}" alt="Vai Kilmer">
                                        <b><br>Vai Kilmer</b><br>Adm. Tom Kazansky<br>(Iceman)
                                    </li>
                                </ul>
                                <br>
                            </div>
                            <div class="info_movies">
                                <hr>
                                <button class="accordion"><h4>All cast & crew</h4></button>
                                <div class="allcast">
                                    <ul>
                                        <li><img src="{% static 'css/Trailer_Detail/image/tomcruise.webp'%}" alt="Tom Cruise">
                                            <b><br>Tom Cruise</b><br>Capt. Pete Mitchell<br> (Maverick)
                                        </li>
                                        <li><img src="{% static 'css/Trailer_Detail/image/jennifer.jpg'%}" alt="Jennifer Connelly">
                                            <b><br>Jennifer Connelly</b><br>Penny Benjamin
                                        </li>
                                        <li><img src="{% static 'css/Trailer_Detail/image/miliies.webp'%}" alt="Millies Teller">
                                            <b><br>Millies Teller</b><br>Bradley Bradshow<br>(Rooster)
                                        </li>
                                        <li><img src="{% static 'css/Trailer_Detail/image/vai.jpg' %}" alt="Vai Kilmer">
                                            <b><br>Vai Kilmer</b><br>Tom Kazansky<br>(Iceman)
                                        </li>
                                        <li>
                                            <img src="{% static 'css/Trailer_Detail/image/anthony.jpg'%}" alt="Anthony">
                                            <b><br>Anthony Edwards</b><br>Lt. Nick Bradshaw
                                        </li>
                                        <li>
                                            <img src="{%static 'css/Trailer_Detail/image/tomskerritt.jpg' %}" alt="Tom Skerritt">
                                            <b><br>Tom Skerritt</b><br>Cmdr. Mike Metcalf
                                        </li>
                                        <li>
                                            <img src="{% static 'css/Trailer_Detail/image/Michael.jpg' %}" alt="Michael">
                                            <b><br>Michael Ironside</b><br>Dick Wetherly
                                        </li>
                                        <li>
                                            <img src="{% static 'css/Trailer_Detail/image/Meg.jpg' %}" alt="Meg">
                                            <b><br>Meg Ryan</b><br>Carole
                                        </li>
                                        <li>
                                            <img src="{% static 'css/Trailer_Detail/image/John.jpg' %}" alt="John">
                                            <b><br>John Stockwell</b><br>Cougar
                                        </li>
                                        <li>
                                            <img src="{% static 'css/Trailer_Detail/image/Barry.jpg' %}" alt="Barry">
                                            <b><br>Barry Tubb</b><br>Henry Ruth
                                        </li>
                                    </ul>
                                    <ul>
                                        <li><img src="{% static 'css/Trailer_Detail/image/Tony.jpg' %}" alt="Tom Cruise">
                                            <b><br>Tony Scott</b><br>Director<br>
                                        </li>
                                        <li><img src="{% static 'css/Trailer_Detail/image/noimage.jpg' %}" alt="Millies Teller">
                                            <b><br>Bobbie Read</b><br>Costume Designer<br>
                                        </li>
                                        <li><img src="{% static 'css/Trailer_Detail/image/noimage.jpg' %}" alt="Vai Kilmer">
                                            <b><br>Chris Lebenzon</b><br>Editor<br>
                                        </li>
                                        <li>
                                            <img src="{% static 'css/Trailer_Detail/image/noimage.jpg' %}" alt="Anthony">
                                            <b><br>Don Simpson</b><br>Producer<br>
                                        </li>
                                        <li>
                                            <img src="{% static 'css/Trailer_Detail/image/noimage.jpg' %}" alt="Tom Skerritt">
                                            <b><br>Donald O.Mitchell</b><br>Sound Deigner<br>
                                        </li>
                                    </ul>
                                </div>
                                <!--hiển thị all cast, crew-->
                                <script>    
                                    var acc=document.getElementsByClassName("accordion");
                                    var i;

                                    for (i=0;i<acc.length;i++){
                                        acc[i].addEventListener("click", function(){
                                            this.classList.toggle("active");
                                            var panel=this.nextElementSibling;
                                            if(panel.style.maxHeight){
                                                panel.style.maxHeight=null;
                                            }
                                            else{
                                                panel.style.maxHeight=panel.scrollHeight + "px";
                                            }
                                        });
                                    }
                                </script>
                                
                                <hr style="margin-bottom:10px;">
                                <img src="{% static 'css/Trailer_Detail/image/movie.jpg'%}" alt="movie" >
                                <h4 style="margin-top:15px;">
                                        'Top Gun' Trivia, Facts, and Figures
                                </h4>
                                <p>
                                    How exensive was Top Gun to make? In this <br>epsoide of 'By the Numbers', we
                                    break down<br> all the statistics you need to know (and<br> some you don't) of the
                                    original '80s classic<br> 'Top Gun.'
                                </p>
                                <a href="https://www.trivianerd.com/collection/top-gun-trivia">Learn more</a>
                            </div>
                            <div class="similar_movies">
                                <h4>Other movies</h4>
                                <a href="{% url 'home' %}">See all</a>
                                <div class="similar">
                                    <ul>
                                        <li>
                                            <button class="movie_button" type="button" onclick="Top_Gun2()">
                                                
                                                <img src="{% static 'css/Trailer_Detail/image/Top_Gun2.jpg'%}" alt="Top Gun 2">
                                            </button>
                                        </li>
                                        <li>
                                            <button class="movie_button" type="button" onclick="Bat_Man()">
                                                <img src="{% static 'css/Trailer_Detail/image/batman.jpg'%}" alt="Bat Man">
                                            </button>
                                        </li>
                                        <li>
                                            <button class="movie_button" type="button" onclick="Spiderman()">
                                                <img src="{% static 'css/Trailer_Detail/image/spiderman.jpg'%}" alt="Spiderman">
                                            </button>
                                        </li>
                                        <li>
                                            <button class="movie_button" type="button" onclick="Docter_Strange()">
                                                <img src="{% static 'css/Trailer_Detail/image/docter_strange.jpg'%}" alt="Docter Strange">
                                            </button>
                                        </li>
                                    </ul>
                                    
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="body_right">
                        <div class="fav">
                            <ul>
                                <li><button class="favbt" type="button" onclick="favMovies()">
                                    <img class="heart" src="{% static 'css/Trailer_Detail/image/icon/icons8-heart-24.png'%}">
                                </button>
                                </li>
                                <li>
                                    <button class="favbt" type="button" onclick="share()">
                                        <img class="share" src="{% static 'css/Trailer_Detail/image/icon/icons8-share-24.png'%}">
                                    </button>
                                </li>
                                <li>
                                    <button class="favbt" type="button" onclick="bookmark()">
                                        <img class="bookmark"src="{% static 'css/Trailer_Detail/image/icon/icons8-bookmark-24.png'%}">
                                    </button>
                                </li>
                                <li>
                                    <button class="favbt" type="button">
                                        <img src="{% static 'css/Trailer_Detail/image/icon/icons8-star-24.png'%}">
                                        
                                    </button>
                                </li>
                                <li>
                                    <label >8.5 | <span style="color:#534d4d;font-size:12px;">350k</span></label>
                                </li>
                            </ul>
                            
                        </div>
                        <div class="more_options">
                            <ul>
                                <li id="more">
                                    <a  href="{% url 'movies' %}">
                                        <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                        <label>More watch options</label>
                                    </a>
                                </li>
                                <li>
                                    <a class="morebt" href="{% url 'movies' %}#onSeptember">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/best_movies.jpg'%}" alt="best movie">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>The Best Movies in September</label>
                                        </div>
                                    </a>
                                </li>
                                <li id="news">
                                    <a href="https://www.imdb.com/list/ls063095038/">
                                        <div>
                                            <img src="{% static 'css/Trailer_Detail/image/news.jpg'%}" alt="news" >
                                            <label>The Billion-Dollar Film Club: 50 Movies to Reach $1 Billion Worldwide</label>
                                        </div>
                                        <p>Updated 1 week ago </p>
                                    </a>
                                </li>
                                <li id="news">
                                    <a href="https://www.gq.com/story/2022-summer-movie-guide-doctor-strange-top-gun-maverick-thor-love-and-thunder#:~:text=Summer%20Movies%202022%3A%2020%20Movies%20Worth%20Watching%20This,8%20Elvis%20%28in%20theaters%20June%2024%29%20More%20items">
                                        <div style="margin-bottom:40px;">
                                            <img src="{% static 'css/Trailer_Detail/image/news-movies.jpg'%}" alt="news movie" style="margin-left:55px">
                                            <label>2022 Summer Move Guide</label>
                                        </div>
                                        <p>Updated 1 month ago </p>
                                    </a>
                                </li>
                                <li id="news">
                                    <a href="https://www.imdb.com/list/ls560301026/">
                                        <div style="margin-bottom:20px;">
                                            <img src="{% static 'css/Trailer_Detail/image/upcoming.jpg'%}" alt="upcoming action" style="margin-left:18px;">
                                            <label>Upcoming Action and Adventure<br> Movies and TV</label>
                                        </div>
                                        <p>Updated 3 months ago</p>
                                    </a>
                                </li>
                                <li id="top50">
                                    <button class="morebt" type="button" onclick="top50()">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/top50.jpg'%}" alt="Top 50 TV Dramas"">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>Top 50 TV Dramas</label>
                                        </div>
                                    </button>
                                </li>
                                <li >
                                    <a class="morebt" href="{%url 'movies'%}#Upcoming">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/new-upcoming.jpg'%}" alt="new and upcoming">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>New & Upcoming Movies</label>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(window).on("load", function(){
                $(".loader-wrapper").fadeOut(1000);
            });
        </script>
    </body>
</html>

