<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trailer_Detail | LTWFlix</title>
        <link rel="stylesheet" href="{% static 'css/Trailer_Detail/Trailer_Detail.css'%}">
        <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
    </head>
    <body>
        {% for movie in movies %}
        <div class="Container">
            <div class="left">
                <img id="brandname" src="{% static 'css/Trailer_Detail/image/icon/BrandNameLogin.png'%}" >
                <div class="button">
                    <ul style="    background-color:#212121;">
                        <li><a href="{% url 'home' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-home-page-48.png'%}" alt="home"><label><b style="background:none;">Home</b></label></a></li>
                        <li><a id="main" href="{% url 'movies' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-video-call-48.png'%}" alt="movies"><label><b style="background:none;">Movies</b></label></a></li>
                        <li><a href="{% url 'home'%}#TVseries"><img id="series" src="{% static 'css/Trailer_Detail/image/icon/icons8-tv-48.png'%}" alt="series"><label><b style="background:none;">TV Series</b></label></a></li>
                        <li><a href="{% url 'home' %}#Upcoming"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-calendar-48.png'%}" alt="upcoming"><label><b style="background:none;">Upcoming</b></label></a></li>
                        <li><a href="{% url 'library' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-book-shelf-50.png'%}" alt="library"><label><b style="background:none;">Library</b></label></a></li>
                        <li style="margin-top:30%;"><a href="{% url 'log_out' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-logout-acc-48.png'%}" alt="logout"><label><b style="background:none;">Logout</b></label></a></li>
                    </ul>
                </div>
            </div>
            <div class="center">
                <div class="top">
                    <button class="bell" type="button" onclick="notification()">
                        <img src="{% static 'css/Trailer_Detail/image/icon/icons8-notification-30.png'%}">
                    </button>
                    <button class="user" type="button">
                        <a href="{% url 'info' %}">
                            <img src="{{avatar}}">
                        </a>
                    </button>
                    <div class="top_left">
                        <form method="GET" id="from-search" action="https://movie.HD/search/" style="width:auto">
                            <div class="search">
                                <img src="{% static 'css/Trailer_Detail/image/icon/icons8-search-30 (1).png'%}">
                                <input class="keyword" type="text" name="keyword" placeholder="Search for movies, TV show,..." value >
                            </div>
                            <div style="display: none;" id="suggestions" class="top-search-box"></div>
                        </form>
                    </div>
                </div>
                <div class="trailer_vid" >
                    <div class="vid">
                        <!-- <div class="play">
                            <video id="vid" height="396px" width="945px"  poster="{{movie.trailer_image.url}}" border-radius="23px;">
                                <source src="{{movie.trailer_video}}" type="video/mp4">
                                Your browser doesn't support html video.
                            </video>
                            <button id="playbt" onclick="playPause()"  style="margin-top:170px;">
                                <img src="{% static 'css/Trailer_Detail/image/icon/icons8-play-48.png'%}">
                            </button>
                        </div> -->
                        <iframe width="945" height="400" src="{{movie.trailer_video}}" frameborder="0" allowfullscreen style="margin-bottom:20px; margin-left:10px;"></iframe>
                    </div>
                    <!-- <script>
                        var myVideo=document.getElementById("vid");
                        const button=document.getElementById("playbt");
                        button.addEventListener("click",()=>{
                            button.style.visibility="hidden";
                            playPause();        
                        })
                        function playPause(){
                            if(myVideo.paused)
                            {
                                myVideo.play();
                                vid.controls="true";
                            }
                        }
                    </script>
                    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script> -->
                </div>
                <div class="body_center">
                    <div class="body_left">
                        <div class="Detail_movies">
                            <div class="title_movies">
                                <h5>
                                    <ul>
                                        <li id="first_ele">{{movie.title}}</li> 
                                        <li>{{movie.year_of_production}}</li>   
                                        <li>{{movie.time}}</li>
                                    </ul>
                                </h5>
                                <br>
                                <br>
                                <h6 style="font-size:10px;color:aliceblue">
                                    {% for category in categories %}
                                    <label>
                                        {{category.category}}
                                    </label> 
                                    {% endfor %}
                               </h6>
                               <p style="font-size:12px; margin-bottom:10px;">    
                                   <br>{{movie.description}} 
                               </p>
                            </div>
                            <div class="info">  <!--Thông tin đạo diễn, diễn viên-->
                                <hr>
                                <p>Director :  <span style="color:cadetblue">{{movie.director}}</span></p>     <!--{{movie.director}}-->
                                <hr>
                                <p>Writers : <span style="color:cadetblue">{{movie.writers}}</span></p>    <!--{{movie.writers}}-->
                                <hr>
                                
                                <p>Stars : 
                                    {% for c in cast_crew %}
                                    <span style="color:cadetblue">
                                        <lable>{{c.name}} .</lable>
                                    </span>
                                    {% endfor %}
                                </p>
                                <hr>
                                <a href="{% url 'watch' movie.id 1 %}">Watch movie</a>
                                    <button class="rate_button" type="button" onclick="topRate()">Top rated movie #65</button>
                                    <select>
                                        <option>Awards {{movie.movie_award.count }} nominations</option>
                                        {% for award in movie.movie_award.all %}
                                            <option>{{award.name}}</option>
                                        {% endfor %}
                                        <!-- <option>Top 3 Healing movie</option>
                                        <option>Top 1 Action movie</option> -->
                                    </select>
                            </div>
                            <div class="info_characters">  <!--Thôgn tin chi tiết dv-->
                                <h4>Top Cast</h4>
                                <ul>
                                    {% for c in topcast %}
                                    <li><img src="{{c.image.url}}" alt="{{c.name}}">
                                        <b><br>{{c.name}}</b><br>{{c.character}}<br> ({{c.sub_character}})
                                    </li>
                                    {% endfor %}
                                </ul>
                                <br>
                            </div>
                            <div class="info_movies">
                                <hr>
                                <button class="accordion"><h4>All cast & crew</h4></button>
                                <div class="allcast">
                                    <ul>
                                        {% for c in cast_crew %}
                                        <li><img src="{{c.image.url}}" alt="{{c.name}}">
                                            <b><br>{{c.name}}</b><br>{{c.character}}<br> ({{c.sub_character}})
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--hiển thị all cast, crew-->
                                <script>    
                                    var acc=document.getElementsByClassName("accordion");
                                    var i;

                                    for (i=0;i<acc.length;i++){
                                        acc[i].addEventListener("click", function(){
                                            this.classList.toggle("active");
                                            var panel=this.nextElementSibling;
                                            if(panel.style.maxHeight){
                                                panel.style.maxHeight=null;
                                            }
                                            else{
                                                panel.style.maxHeight=panel.scrollHeight + "px";
                                            }
                                        });
                                    }
                                </script>
                                
                                <hr style="margin-bottom:10px;">
                                <img src="{{movie.trivia_image.url}}" alt="{{movie.title}}" style="margin-top:15px;">
                                <h4 style="margin-top:15px; width:290px;">
                                        '{{movie.title}}' Trivia, Facts, and Figures   
                                </h4>
                                <p style="width:290px;">
                                    {{movie.trivia_summary}}
                                </p>
                                <a href="{{movie.trivia_url}}">Learn more</a>
                            </div>
                            <div class="similar_movies">
                                <h4>Other movies</h4>
                                <a href="{% url 'home' %}">See all</a>
                                <div class="similar">
                                    <ul>
                                        <li>
                                            {% for movie in another %}
                                                <button class="movie_button" type="button">
                                                    <a href="{% url 'detail' movie.id %}">
                                                        <img class="img-movie" src="{{movie.image.url}}" alt="{{movie.title}}" style="width:130px; height:192px; border-radius: 10px; margin-right:15px;"/>
                                                    </a>
                                                </button>
                                            {% endfor %}
            
                                        </li>
                                    </ul>
                                    
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <div class="body_right">
                        <div class="fav">
                            <ul>
                                <form method="post">
                                    {% csrf_token %}
                                    <li><button class="favbt" type="submit" name="love" onclick="favMovies()">
                                        {% if movie.is_love %}
                                            <img class="heart" src="{% static 'css/Trailer_Detail/image/icon/icons8-heart-red-24.png'%}">
                                        {% else %}
                                            <img class="heart" src="{% static 'css/Trailer_Detail/image/icon/icons8-heart-24.png'%}">
                                        {% endif %}
                                    </button>
                                    </li>
                                    <li>
                                        <button class="favbt" type="button" onclick="share()">
                                            <img class="share" src="{% static 'css/Trailer_Detail/image/icon/icons8-share-24.png'%}">
                                        </button>
                                    </li>
                                    <li>
                                        <button class="favbt" type="submit" name="mark" onclick="bookmark()">
                                            {% if movie.is_mark %}
                                                <img class="bookmark" src="{% static 'css/Trailer_Detail/image/icon/icons8-bookmark-white-24.png'%}">
                                            {% else %}
                                                <img class="bookmark"src="{% static 'css/Trailer_Detail/image/icon/icons8-bookmark-24.png'%}">
                                            {% endif %}
                                        </button>
                                    </li>
                                    <li>
                                        <button class="favbt" type="button">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/icons8-star-24.png'%}">
                                            
                                        </button>
                                    </li>
                                    <li>
                                        <label >{{movie.average_of_star}} | <span style="color:#534d4d;font-size:12px;">{{movie.views_count}}</span></label>
                                    </li>
                                </form>
                            </ul>
                            
                        </div>
                        <div class="more_options">
                            <ul>
                                <li id="more">
                                    <a  href="{% url 'movies' %}">
                                        <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                        <label>More watch options</label>
                                    </a>
                                </li>
                                <li>
                                    <a class="morebt" href="{% url 'movies' %}#onSeptember">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/best_movies.jpg'%}" alt="best movie">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>The Best Movies in September</label>
                                        </div>
                                    </a>
                                </li>
                                <li id="news">
                                    <a href="https://www.imdb.com/list/ls063095038/">
                                        <div>
                                            <img src="{% static 'css/Trailer_Detail/image/news.jpg'%}" alt="news" >
                                            <label>The Billion-Dollar Film Club: 50 Movies to Reach $1 Billion Worldwide</label>
                                        </div>
                                        <p>Updated 1 week ago </p>
                                    </a>
                                </li>
                                <li id="news">
                                    <a href="https://www.gq.com/story/2022-summer-movie-guide-doctor-strange-top-gun-maverick-thor-love-and-thunder#:~:text=Summer%20Movies%202022%3A%2020%20Movies%20Worth%20Watching%20This,8%20Elvis%20%28in%20theaters%20June%2024%29%20More%20items">
                                        <div>
                                            <img src="{% static 'css/Trailer_Detail/image/news-movies.jpg'%}" alt="news movie" style="margin-left:55px">
                                            <label>2022 Summer Move Guide</label>
                                        </div>
                                        <p>Updated 1 month ago </p>
                                    </a>
                                </li>
                                <li id="news">
                                    <a href="https://www.imdb.com/list/ls560301026/">
                                        <div>
                                            <img src="{% static 'css/Trailer_Detail/image/upcoming.jpg'%}" alt="upcoming action" style="margin-left:18px;">
                                            <label>Upcoming Action and Adventure<br> Movies and TV</label>
                                        </div>
                                        <p>Updated 3 months ago</p>
                                    </a>
                                </li>
                                <li id="top50">
                                    <button class="morebt" type="button" onclick="top50()">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/top50.jpg'%}" alt="Top 50 TV Dramas"">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>Top 50 TV Dramas</label>
                                        </div>
                                    </button>
                                </li>
                                <li >
                                    <a class="morebt" href="{%url 'movies'%}#Upcoming">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/new-upcoming.jpg'%}" alt="new and upcoming">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>New & Upcoming Movies</label>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(window).on("load", function(){
                $(".loader-wrapper").fadeOut(1000);
            });
        </script>
        {% endfor %}
    </body>
</html>

