<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Watch | LTWFlix</title>
        <link rel="stylesheet" href="{% static 'css/Trailer_Detail/Watch.css'%}">
    </head>
    <body>
        <div class="Container">
            <div class="left">
                <img id="brandname" src="{% static 'css/Trailer_Detail/image/icon/BrandNameLogin.png'%}" >
                <div class="button">
                    <ul>
                        <li><a href="{% url 'home' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-home-page-48.png'%}" alt="home"><label><b style="background:none;">Home</b></label></a></li>
                        <li><a id="main" href="{% url 'movies' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-video-call-48.png'%}" alt="movies"><label><b style="background:none;">Movies</b></label></a></li>
                        <li><a href="{% url 'movies'%}#TVseries"><img id="series" src="{% static 'css/Trailer_Detail/image/icon/icons8-tv-48.png'%}" alt="series"><label><b style="background:none;">TV Series</b></label></a></li>
                        <li><a href="{%url 'movies'%}#Upcoming"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-calendar-48.png'%}" alt="upcoming"><label><b style="background:none;">Upcoming</b></label></a></li>
                        <li><a href="#"><label><b style="background:none;">Library</b></label></a></li>
                        
                    </ul>
                </div>
                <div class="logout">
                    <a href="{% url 'log_out'%}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-logout-acc-48.png'%}" alt="logout"><label><b style="background:none;">Logout</b></label></a>
                </div>
            </div>
            <div class="center">
                <div class="top">
                    <button class="bell" type="button" onclick="notification()">
                        <img src="{% static 'css/Trailer_Detail/image/icon/icons8-notification-30.png'%}">
                    </button>
                    <button class="user" type="button" onclick="user()">
                        <a href="{% url 'info' %}">
                            <img src="{% static 'css/Trailer_Detail/image/user.png'%}">
                        </a>
                    </button>
                    <div class="top_left">
                        <form method="GET" id="from-search" action="https://movie.HD/search/" style="width:auto">
                            <div class="search">
                                <img src="{% static 'css/Trailer_Detail/image/icon/icons8-search-30 (1).png'%}">
                                <input class="keyword" type="text" name="keyword" placeholder="Search for movies, TV show,..." value >
                            </div>
                            <div style="display: none;" id="suggestions" class="top-search-box"></div>
                        </form>
                    </div>
                </div>
                <div class="body_center">
                    <div class="film" >
                        <div class="vid">
                            <div class="play">
                                <video id="vid" width="945px"  poster="{% static 'css/Trailer_Detail/image/trailer.jfif'%}" >
                                    <source src="{% static 'css/Trailer_Detail/vid/vid.mp4'%}" type="video/mp4">
                                    Your browser doesn't support html video.
                                </video>
                                <button id="playbt" onclick="playPause()">
                                    <img src="{% static 'css/Trailer_Detail/image/icon/icons8-play-48.png'%}">
                                </button>
                            </div>
                        </div>
                        <script>
                            var myVideo=document.getElementById("vid");
                            const button=document.getElementById("playbt");
                            button.addEventListener("click",()=>{
                                button.style.visibility="hidden";
                                playPause();        
                            })
                            function playPause(){
                                if(myVideo.paused)
                                {
                                    myVideo.play();
                                    vid.controls="true";
                                }
                            }
                            
                        </script>
                    </div>
                   
                    <div class="body_bottom">
                        <div class="bottom_left">
                            <h4>Episode</h4>
                            <div class="ep">
                                <button id="bt-ep" onclick="ep1()">Episode 1</button>
                                <button id="bt-ep" onclick="ep2()">Episode 2</button>
                                <button id="bt-ep" onclick="ep3()">Episode 3</button>
                                <button id="bt-ep" onclick="ep4()">Episode 4</button>
                                <button id="bt-ep" onclick="ep5()">Episode 5</button>
                                <button id="bt-ep" onclick="ep6()">Episode 6</button>
                                <button id="bt-ep" onclick="ep7()">Episode 7</button>
                                <button id="bt-ep" onclick="ep8()">Episode 8</button>
                                <button id="bt-ep" onclick="ep9()">Episode 9</button>
                            </div>
                            <h4 style="color:cadetblue">Top Gun - Ep 1</h4>
                            <br>
                            <div class="bottom">
                                <h5 style="margin-bottom:10px;">Comment</h5>
                                    <div class="comments">
                                        <span>
                                            <button id="user-comment" type="button" onclick="user()">
                                                <img src="{% static 'css/Trailer_Detail/image/user.png'%}">
                                            </button>
                                            <input id="input-cmt" type="text" placeholder="Comment">
                                            <button id="cmtbt" type="button">
                                                <img class="cmtbt-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-cmt-white-30.png'%}">
                                            </button>
                                        </span>
                                    </div>
                                <div class="comment-box">
                                    <ul id="comment">
                                        <li>
                                            <button id="user-comment" type="button" onclick="another-user()">
                                                <img src="{% static 'css/Trailer_Detail/image/user-2.jpg'%}">
                                            </button>
                                            <div class="content">
                                                <label id="name-user">mtkth</label>
                                                <label id="time">About 1 hours</label>
                                                <p>Great movie!!! I love it</p>
                                                <div class="like">
                                                    <button id="likebt" type="button">
                                                        <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                    </button>
                                                    <label id="comment-number">100</label>
                                                    <button id="likebt" type="button">
                                                        <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                    </button>
                                                    <label id="comment-number">2</label>
                                                    <button id="cmt" type="button">
                                                        <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                    </button>
                                                    <label id="comment-number">0</label>
                                                    <button id="flag">
                                                        <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                    </button>
                                                </div>
                                                <!-- <script>
                                                    function click(x){
                                                        x.classList.toggle("{% static 'css/Trailer_Detail/image/icon/icons8-like-green-24.png'%}")
                                                    }
                                                </script> -->
                                            </div>
                                        </li>
                                        <li>
                                            <button id="user-comment" type="button" onclick="another-user()">
                                                <img src="{% static 'css/Trailer_Detail/image/user-4.jpg'%}">
                                            </button>
                                            <div class="content">
                                                <label id="name-user">RM_7012</label>
                                                <label id="time">About 50 minutes</label>
                                                <p>Like an echo in the forest. The day will come back around. As if nothing happened. Yeah, life goes on.
                                                   Like an arrow in the blue sky. Another day flying by.
                                                </p>
                                                <div class="like">
                                                    <button id="likebt" type="button">
                                                        <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                        
                                                    </button>
                                                    <label id="comment-number">1k</label>
                                                    <button id="likebt" type="button">
                                                        <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                    </button>
                                                    <label id="comment-number">0</label>
                                                    <button id="cmt" type="button">
                                                        <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                    </button>
                                                    <label id="comment-number">112</label>
                                                    <button id="flag">
                                                        <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <button id="user-comment" type="button" onclick="another-user()">
                                                <img src="{% static 'css/Trailer_Detail/image/user-1.jpg'%}">
                                            </button>
                                            <div class="content">
                                                <label id="name-user">Phuong20222</label>
                                                <label id="time">About 10 minutes</label>
                                                <p>Everywhere I go, everything I do. I will show you, as much as I sharpened my sword.
                                                     To all the people who looked down on me. Hey shout it out.
                                                </p>
                                                <div class="like">
                                                    <button id="likebt" type="button">
                                                        <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                        
                                                    </button>
                                                    <label id="comment-number">12k</label>
                                                    <button id="likebt" type="button">
                                                        <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                    </button>
                                                    <label id="comment-number">0</label>
                                                    <button id="cmt" type="button">
                                                        <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                    </button>
                                                    <label id="comment-number">0</label>
                                                    <button id="flag">
                                                        <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                    </button>
                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <button id="user-comment" type="button" onclick="another-user()">
                                                <img src="{% static 'css/Trailer_Detail/image/tomcruise.webp'%}">
                                            </button>
                                            <div class="content">
                                                <label id="name-user">dvdj</label>
                                                <label id="time">About 1 minutes</label>
                                                <p>In the dark night, don't be lonely. Like the stars, we shine.
                                                    Don't disappear, because you're great existence. Let us shine
                                                </p>
                                                <div class="like">
                                                    <button id="likebt" type="button">
                                                        <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                        
                                                    </button>
                                                    <label id="comment-number">2k</label>
                                                    <button id="likebt" type="button">
                                                        <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                    </button>
                                                    <label id="comment-number">0</label>
                                                    <button id="cmt" type="button">
                                                        <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                    </button>
                                                    <label id="comment-number">30</label>
                                                    <button id="flag">
                                                        <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                <!-- <script>
                                    var post=document.getElementById("cmtbt");
                                    post.addEventListener("click", function(){
                                        var commentBoxValue=document.getElementById("input-cmt").value;
        
                                        var li=document.createElement("li");
                                        var text=document.createTextNode(commentBoxValue);
                                        li.appendChild(text);
                                        document.getElementById("comment").appendChild(li);
                                    });
                                    
                                </script> -->
                            </div>
                        </div>
                        
                        <div class="bottom_right">
                            <div class="rate">
                                <span>
                                    <button id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                    <button id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                    <button id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                    <button id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                    <button id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                </span>
                            </div>
                            <ul>
                                <li id="more">
                                    <a  href="{% url 'movies' %}">
                                        <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                        <label>More watch options</label></a>
                                </li>
                                <li id="news">
                                    <a href="https://www.gq.com/story/2022-summer-movie-guide-doctor-strange-top-gun-maverick-thor-love-and-thunder#:~:text=Summer%20Movies%202022%3A%2020%20Movies%20Worth%20Watching%20This,8%20Elvis%20%28in%20theaters%20June%2024%29%20More%20items">
                                        <div style="margin-bottom:40px;">
                                            <img src="{% static 'css/Trailer_Detail/image/news-movies.jpg'%}" alt="news movie" style="margin-left:55px">
                                            <label>2022 Summer Move Guide</label>
                                        </div>
                                        <p>Updated 1 month ago </p>
                                    </a>
                                </li>
                                <li>
                                    <a class="morebt" href="{% url 'home' %}#onSeptember">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/best_movies.jpg'%}" alt="best movie">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>The Best Movies in September</label>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="morebt" href="{%url 'movies'%}#Upcoming">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/new-upcoming.jpg'%}" alt="new and upcoming">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>New & Upcoming Movies</label>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(window).on("load", function(){
                $(".loader-wrapper").fadeOut(1000);
            });
        </script>
    </body>
</html>

