<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Watch | LTWFlix</title>
        <link rel="stylesheet" href="{% static 'css/Trailer_Detail/Watch.css'%}">
        {% comment %} Alert JS {% endcomment%}
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    </head>
    <body>
        {% comment %} alertifyjs - Thông báo  {% endcomment %}
                <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
                <script>
                    alertify.set('notifier','position', 'top-right');
                </script>
                {% for msg in messages %}
                    {% if msg.tags == "error" %}
                        <script>
                            alertify.error('{{msg}}'); 
                        </script>
                    {% else %}
                        <script>
                            alertify.success('{{msg}}');
                        </script>
                    {% endif %}
                {% endfor %}
            
        {% for movie in movies %}
        <div class="Container">
            <div class="left">
                <img id="brandname" src="{% static 'css/Trailer_Detail/image/icon/BrandNameLogin.png'%}" >
                <div class="button">
                    <ul style="    background-color:#212121;">
                        <li><a href="{% url 'home' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-home-page-48.png'%}" alt="home"><label><b style="background:none;">Home</b></label></a></li>
                        <li><a id="main" href="{% url 'movies' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-video-call-48.png'%}" alt="movies"><label><b style="background:none;">Movies</b></label></a></li>
                        <li><a href="{% url 'home'%}#TVseries"><img id="series" src="{% static 'css/Trailer_Detail/image/icon/icons8-tv-48.png'%}" alt="series"><label><b style="background:none;">TV Series</b></label></a></li>
                        <li><a href="{% url 'home' %}#Upcoming"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-calendar-48.png'%}" alt="upcoming"><label><b style="background:none;">Upcoming</b></label></a></li>
                        <li><a href="{% url 'library' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-book-shelf-50.png'%}" alt="library"><label><b style="background:none;">Library</b></label></a></li>
                        <li style="margin-top:30%;"><a href="{% url 'log_out' %}"><img src="{% static 'css/Trailer_Detail/image/icon/icons8-logout-acc-48.png'%}" alt="logout"><label><b style="background:none;">Logout</b></label></a></li>
                    </ul>
                </div>
            </div>
            <div class="center">
                <div class="top">
                    <button class="bell" type="button" onclick="notification()">
                        <img src="{% static 'css/Trailer_Detail/image/icon/icons8-notification-30.png'%}">
                    </button>
                    <button class="user" type="button">
                        <a href="{% url 'info' %}">
                            <img src="{{avatar}}">
                        </a>
                    </button>
                    <div class="top_left">
                        <form method="GET" id="from-search" action="https://movie.HD/search/" style="width:auto">
                            <div class="search">
                                <img src="{% static 'css/Trailer_Detail/image/icon/icons8-search-30 (1).png'%}">
                                <input class="keyword" type="text" name="keyword" placeholder="Search for movies, TV show,..." value >
                            </div>
                            <div style="display: none;" id="suggestions" class="top-search-box"></div>
                        </form>
                    </div>
                </div>
                <div class="vid">
                    <iframe width="945" height="400" src="{{ep.episode}}" frameborder="0" allowfullscreen style="margin-bottom:20px; margin-left:10px;"></iframe>
                </div>   
                <div class="body_center">
                    <div class="body_bottom">
                        <div class="bottom_left">
                            <a class="detail" href="{% url 'detail' movie.id %}">Detail movie</a>
                        <h4 style="margin-top:15px; margin-bottom:15px;">Episode</h4>
                        {% for ep in episode %}
                            <a class="bt-ep" href="{% url 'watch' movie.id ep.number_episode %}" style="margin-right:10px;">Episode {{ep.number_episode}}</a>
                        {% endfor %}
                            <h4 style="color:cadetblue; margin-top:15px;">{{movie.title}} - {{ep.number_episode}}</h4>
                            <br>
                            <div class="bottom">
                                <h5 style="margin-bottom:10px;">Comment</h5>
                                    <form method="POST" name="comment">
                                        {% csrf_token %}
                                        <div class="comments">
                                            <span>
                                                <button id="user-comment" type="button" onclick="user()">
                                                    <img src="{{user.profile.avatar.url}}">
                                                </button>
                                                <input id="input-cmt" name="comment" type="text" placeholder="Comment" required>
                                                <button id="cmtbt" type="submit">
                                                    <img class="cmtbt-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-cmt-white-30.png'%}">
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                <div class="comment-box">
                                    {% if not movie.comments.all %}
                                    <div class="content">
                                        <label id="name-user" style="margin: 40%;"> No comment </label>
                                    </div>
                                      
                                    {% else %}
                                        {% for comment in movie.comments.all %}
                                            <ul id="comment">
                                                <li>
                                                    <button id="user-comment" type="button" onclick="another-user()">
                                                        <img src="{{comment.user.profile.avatar.url}}">
                                                    </button>
                                                    <div class="content">
                                                        <label id="name-user">{{comment.user.first_name}}</label>
                                                        <label id="time">{{comment.date_added}}</label>
                                                        <p>{{comment.body}}</p>
                                                        <div class="like">
                                                            <form method="post">
                                                                {% csrf_token %}
                                                                <button id="likebt" type="submit" name="like" value="{{comment.id}}">
                                                                    {% if not comment.is_like %}
                                                                        <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                                    {% else %}
                                                                        <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-green-24.png'%}">
                                                                    {% endif %}
                                                                </button>
                                                                <label id="comment-number">{{comment.total_likes}}</label>
                                                                <button id="likebt" type="submit" name="unlike" value="{{comment.id}}">
                                                                    {% if not comment.is_unlike %}
                                                                        <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                                    {% else %}
                                                                        <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-green-24.png'%}">
                                                                    {% endif %}
                                                                </button>
                                                                <label id="comment-number">{{comment.total_unlikes}}</label>
                                                                <!-- <button id="cmt" type="submit" name="subcomment" value="{{comment.id}}" >
                                                                    <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                                </button>
                                                                <label id="comment-number">0</label> -->
                                                                <button id="flag" type="submit" name="mark" value="{{comment.id}}">
                                                                    {% if not comment.is_mark %}
                                                                        <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                                    {% else %}
                                                                        <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-green-30.png'%}">
                                                                    {% endif %}
                                                                    
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <!-- <script>
                                                            function click(x){
                                                                x.classList.toggle("{% static 'css/Trailer_Detail/image/icon/icons8-like-green-24.png'%}")
                                                            }
                                                        </script> -->
                                                    </div>
                                                </li>
                                            
                                                <!-- <li>
                                                    <button id="user-comment" type="button" onclick="another-user()">
                                                        <img src="{% static 'css/Trailer_Detail/image/user-4.jpg'%}">
                                                    </button>
                                                    <div class="content">
                                                        <label id="name-user">RM_7012</label>
                                                        <label id="time">About 50 minutes</label>
                                                        <p>Like an echo in the forest. The day will come back around. As if nothing happened. Yeah, life goes on.
                                                        Like an arrow in the blue sky. Another day flying by.
                                                        </p>
                                                        <div class="like">
                                                            <button id="likebt" type="button">
                                                                <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                                
                                                            </button>
                                                            <label id="comment-number">1k</label>
                                                            <button id="likebt" type="button">
                                                                <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                            </button>
                                                            <label id="comment-number">0</label>
                                                            <button id="cmt" type="button">
                                                                <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                            </button>
                                                            <label id="comment-number">112</label>
                                                            <button id="flag">
                                                                <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                            </button>
                                                        </div>
                                                        
                                                    </div>
                                                </li>
                                                <li>
                                                    <button id="user-comment" type="button" onclick="another-user()">
                                                        <img src="{% static 'css/Trailer_Detail/image/user-1.jpg'%}">
                                                    </button>
                                                    <div class="content">
                                                        <label id="name-user">Phuong20222</label>
                                                        <label id="time">About 10 minutes</label>
                                                        <p>Everywhere I go, everything I do. I will show you, as much as I sharpened my sword.
                                                            To all the people who looked down on me. Hey shout it out.
                                                        </p>
                                                        <div class="like">
                                                            <button id="likebt" type="button">
                                                                <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                                
                                                            </button>
                                                            <label id="comment-number">12k</label>
                                                            <button id="likebt" type="button">
                                                                <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                            </button>
                                                            <label id="comment-number">0</label>
                                                            <button id="cmt" type="button">
                                                                <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                            </button>
                                                            <label id="comment-number">0</label>
                                                            <button id="flag">
                                                                <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                            </button>
                                                        </div>

                                                    </div>
                                                </li>
                                                <li>
                                                    <button id="user-comment" type="button" onclick="another-user()">
                                                        <img src="{% static 'css/Trailer_Detail/image/tomcruise.webp'%}">
                                                    </button>
                                                    <div class="content">
                                                        <label id="name-user">dvdj</label>
                                                        <label id="time">About 1 minutes</label>
                                                        <p>In the dark night, don't be lonely. Like the stars, we shine.
                                                            Don't disappear, because you're great existence. Let us shine
                                                        </p>
                                                        <div class="like">
                                                            <button id="likebt" type="button">
                                                                <img class="like-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-like-24.png'%}">
                                                                
                                                            </button>
                                                            <label id="comment-number">2k</label>
                                                            <button id="likebt" type="button">
                                                                <img class="dislike-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-dislike-24.png'%}">
                                                            </button>
                                                            <label id="comment-number">0</label>
                                                            <button id="cmt" type="button">
                                                                <img class="cmt-img"src="{% static 'css/Trailer_Detail/image/icon/icons8-comments-30.png'%}">
                                                            </button>
                                                            <label id="comment-number">30</label>
                                                            <button id="flag">
                                                                <img class="flag-img" src="{% static 'css/Trailer_Detail/image/icon/icons8-flag-30.png'%}">
                                                            </button>
                                                        </div>
                                                        
                                                    </div>
                                                </li> -->
                                            </ul>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                
                                <!-- <script>
                                    var post=document.getElementById("cmtbt");
                                    post.addEventListener("click", function(){
                                        var commentBoxValue=document.getElementById("input-cmt").value;
        
                                        var li=document.createElement("li");
                                        var text=document.createTextNode(commentBoxValue);
                                        li.appendChild(text);
                                        document.getElementById("comment").appendChild(li);
                                    });
                                    
                                </script> -->
                            </div>
                        </div>
                        
                        <div class="bottom_right">
                            <form method="post">
                                {% csrf_token %}
                                <div class="rate">
                                    <span>
                                        {% if rate == 0 %}
                                            <button type="submit" name="star1" value=1 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star2" value=2 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star3" value=3 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star4" value=4 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star5" value=5 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                        {% elif rate == 1 %}
                                            <button type="submit" name="star1" value=1 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star2" value=2 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star3" value=3 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star4" value=4 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star5" value=5 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                        {% elif rate == 2 %}
                                            <button type="submit" name="star1" value=1 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star2" value=2 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star3" value=3 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star4" value=4 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star5" value=5 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                        {% elif rate == 3 %}
                                            <button type="submit" name="star1" value=1 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star2" value=2 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star3" value=3 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star4" value=4 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                            <button type="submit" name="star5" value=5 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                        {% elif rate == 4 %}
                                            <button type="submit" name="star1" value=1 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star2" value=2 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star3" value=3 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star4" value=4 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star5" value=5 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-green-24.png'%}"></button>
                                        {% elif rate == 5 %}
                                            <button type="submit" name="star1" value=1 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star2" value=2 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star3" value=3 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star4" value=4 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                            <button type="submit" name="star5" value=5 id="ratebt" onclick="rate()"><img class="rateimg" src="{% static 'css/Trailer_Detail/image/icon/icons8-star-rate-24.png'%}"></button>
                                        {% endif %}
                                            
                                        
                                    </span>
                                </div>
                            </form>
                            <ul>
                                <li id="more">
                                    <a  href="{% url 'movies' %}">
                                        <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                        <label>More watch options</label></a>
                                </li>
                                <li id="news">
                                    <a href="https://www.gq.com/story/2022-summer-movie-guide-doctor-strange-top-gun-maverick-thor-love-and-thunder#:~:text=Summer%20Movies%202022%3A%2020%20Movies%20Worth%20Watching%20This,8%20Elvis%20%28in%20theaters%20June%2024%29%20More%20items">
                                        <div style="margin-bottom:40px;">
                                            <img src="{% static 'css/Trailer_Detail/image/news-movies.jpg'%}" alt="news movie" style="margin-left:55px">
                                            <label>2022 Summer Move Guide</label>
                                        </div>
                                        <p>Updated 1 month ago </p>
                                    </a>
                                </li>
                                <li>
                                    <a class="morebt" href="{% url 'home' %}#onSeptember">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/best_movies.jpg'%}" alt="best movie">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>The Best Movies in September</label>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="morebt" href="{%url 'movies'%}#Upcoming">
                                        <img class="button_img" src="{% static 'css/Trailer_Detail/image/new-upcoming.jpg'%}" alt="new and upcoming">
                                        <div class="best-div">
                                            <img src="{% static 'css/Trailer_Detail/image/icon/more_option.png'%}">
                                            <label>New & Upcoming Movies</label>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(window).on("load", function(){
                $(".loader-wrapper").fadeOut(1000);
            });
        </script>
        {% endfor %}
    </body>
</html>

