<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/Error/style.css'%}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
     *{font-family:'Poppins', sans-serif ;}
     .container{
      color:#3DD2CC;
       text-align: center;
     }
     img{
      display:block; 
      margin-left: auto; 
      margin-right: auto;
      margin-top: 10%; 
      max-width: 100%;
     }
  </style>
<html>
<title>Wrong address</title>
</head>
<body style="background-color: rgb(28, 24, 24);">
  <div>
  <img src="{% static 'css/Error/404.PNG'%}">
  </div>
  <div class="container container-fluid">
    <div class="row">
     <h4 col-md-10 mx-auto>Sorry, the page not found <br> <br> The link you followed probably broken <br> 
      or the page has been removed.</h4>
    </div>
  </div>
</body>
</html>