<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'css/Error/style.css'%}"/>
<html>
<title>Wrong address</title>
</head>
<body style="background-color: black;">
  <h1 style="color:#3DD2CC;
  font-size: 150px;
  margin-bottom: 2%;
  text-align:center ;">404</h1>
  <h4 style="color:#3DD2CC;
  text-align: center;">Sorry, the page not found</h4>
  <p style="color:#3DD2CC;
  text-align: center;">The link you followed probably broken <br> 
      or the page has been removed.
  </p>
</body>
</html>