<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LogIn | LTWFlix</title>
        <link rel="stylesheet" href="{% static 'css/SignUp_LogIn/styleFilm.css' %}">\

        {% comment %} Alert JS {% endcomment%}
        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    </head>
    <body>
        <div class="Login">
            <div class="Login_Left">
                <div class="Logo_Login">
                    <img  style="width: 39px;" src="{% static 'css/SignUp_LogIn/LogoLogIn.png' %}">
                </div>
                <div class="BrandName_Login">
                    <img style="width: 75px;" src="{% static 'css/SignUp_LogIn/BrandNameLogin.png' %}">
                </div>
                
                {% comment %} alertifyjs - Thông báo  {% endcomment %}
                <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
                <script>
                    alertify.set('notifier','position', 'top-right');
                </script>
                {% for msg in messages %}
                    {% if msg.tags == "error" %}
                        <script>
                            alertify.error('{{msg}}'); 
                        </script>
                    {% else %}
                        <script>
                            alertify.success('{{msg}}');
                        </script>
                    {% endif %}
                {% endfor %}
                

                <div class="Title">
                    <p>Welcome back</p>
                </div>
                <div class="Subtitle">
                    <p>Welcome back! Please enter your details.</p>
                </div>
                <button class="LoginWithGoogle">Login with Google</button>
                <div class="line-1" style="left: 29%;"></div>
                <div class="line-1" style="left: 57%;"></div>
                <div class="or">or</div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="Input">
                        <p>
                            <Label class="bold" style="margin-right: 1.06cm;">Username:</Label>
                            <input class="Input_box" type="text" name="username" id="id_username" placeholder="Your Username">
                        </p>
                        <p>
                            <Label class="bold" style="margin-right: 1.19cm;">Password:</Label>
                            <input class="Input_box" type="password" name="password" id="id_password1" placeholder="Password"></li>
                        </p>
                    </div>

                    <button type="submit" class="LoginButton">Log in</button>
                </form>
                
                <div class="Checkbox_content">
                    <input type="checkbox" class="Checkbox">
                    <p class="content">Remember me for 30 days</p>
                </div>
                <div class="Forgot_password">
                    <a href="">Forgot password</a>
                </div>

                <div class="NoAccount">
                    <p>Don’t have an account ? <a href="{% url 'sign_up' %}" class="hyperlink">Sign up for free</a></p>
                </div>
            </div>

            <div class="Login_Right">
                <div class="Title">
                    <p>Top Gun: Maverick</p>
                </div>
                <div class="Subtitle">
                    <p>2022 | PG-13 | 2h 10m</p>
                    <p style="margin-top: 1cm;">Genres : Action , Drama</p>
                </div>
                <div  class="star"><img src="{% static 'css/SignUp_LogIn/Star.png' %}"> </div>
                <div class="Rating">
                    <p>8.5 / 10</p>
                </div>
                <div class="Navigation">
                    <button class="Navigation_Left"><a href=""></a></button>
                    <button class="Navigation_Right"><a href=""></a></button>
                </div>
            </div>
        </div>
        <div class="sign_up-wapper">
            <img class="sign_up" src="{% static 'css/Loading_Screen_Logo/logo.png'%}" alt="Logo">
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(window).on("load", function(){
                $(".sign_up-wapper").fadeOut(1000);
            });
        </script>
    </body>
</html>