@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #292929;
    font-family:'Poppins', sans-serif ;
    line-height:22px;

}

.Container{
    width:100%;
    display:block;
}

.left{
    position:fixed;
    top:0;
    background-color:#212121;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height:100%;
    width:17.5%;
    float:left;
}

#brandname{
    margin-top: 14%;
    margin-left:21%;
    margin-right:20%;
    width:50%;
}

.button{
    margin-top:30%;

}
.button li{
    list-style-type:none;

}
.button #main{
    background-color: #50c5c1a2;
    border-right: 5px solid #3DD2CC;
}
.button a{
    background-color:#212121;
    font-size: 15px;
    color:#CCCCCC;
    display:flex;
    text-align: center;
    padding: 16px 0px 16px 40px;
    text-decoration: none;
}
.button a:hover{  /*ree chuọt*/
    background-color: #50c5c1a2;
    color:aliceblue;
}
.button label{
    cursor:pointer;
    background:none;
    padding-left:12px;
}
.button img{    /*icon*/
    width:20px;
    height:20px;
    background:none;
}

.center{
    width:83%;
    overflow-x:auto;
    color:#cccccc;
    padding-left:40px;
    float:right;
}
.top{
    display:inline-block;
    position:relative;
}
.bell{
    cursor:pointer;
    float:right;
    position:absolute;
    margin-top:24px;
    margin-left:870px;
    background-color:#434141;
    opacity:50%;
    border-radius: 50%;
    border:none;
    padding-top:5px;
    padding-left:6px;
    padding-right:6px;
}
.bell img{
    width:28px;
    background:none;
}
.user{
    cursor:pointer;
    float:right;
    position:absolute;
    margin-top:23px;
    margin-left:925px;
    border:none;
}
.user img, #user-comment img{
    width:45px;
    height:45px;
    border-radius: 50%;
}
.search{
    /* display:-ms-flexbox; */
    position:relative;
    margin-top:20px;
    margin-bottom: 18px;
}
.search img{ /*icon search*/
    background:none;
    position:absolute;
    width:24px;
    margin-top: 8px;
    margin-left:20px;
    
}
.keyword{
    background-color:rgb(46, 45, 45);
    color:#cccccc;
    border-radius: 25px;
    border:none;
    padding-left: 70px; /*chữ cách khung*/
    padding-right: 70px;
    margin-left: 5px;
    width:700px;
    height:45px;
    font-size: 18px;
    font-weight:30;

}

.body_center{
    width:auto;
}
.bottom_left{
    width:auto;
}
.detail, .bt-ep{
    background-color: #5c4289;
    text-decoration:none;
    color:#cccccc;
    padding: 8px 15px;
    border-radius: 10px;
}
.bt-ep{
    background-color: cadetblue;
}


.body_bottom{
    display:grid;
    grid-auto-flow: column;
}
.bottom{
    position:relative;
}
.bottom h5{
    margin-bottom:14px;
}
#user-comment{
    border:none;
    background:none;
    width:50px;
    height:50px;
    cursor: pointer;
}
#input-cmt{
    width:570px;
    height:40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border:none;
    padding-left:40px;
    padding-right:80px;
    color:aliceblue;
    position:absolute;
    background-color:rgb(46, 45, 45);
    margin-left:20px;
}
#cmtbt{
    float:left;
    cursor:pointer;
    border:none;
    padding-top:5px;
    padding-right:10px;
    padding-left: 15px;
    position:absolute;
    background:none;
    margin-left:540px;
}
.cmtbt-img{
    background:none;
    width:28px;
}
#cmtbt:hover{
    background-color: #cccccc;
    opacity:10%;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cmtbt-img:hover{
    content:url("./image/icon/icons8-cmt-30.png");
}

.comment-box{
    width:640px;
    background:rgba(62, 75, 80, 0.381);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 35px;
    margin-top:10px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
}
#comment{
    background:none;
    margin-bottom:20px;

}
#comment li{
    list-style-type: none;
    background:none;
    margin-top:20px;
    margin-left:20px;
    display:flex;
}

.content{
    margin-left:20px;
    background:none; 
}
#time, #name-user, .content p{
    background:none;
    margin-bottom:5px;
}
#time{
    margin-left:8px;
    font-size: 9px;
    color:gray;
}
.content p{
    font-size:12px;
    color:rgb(150, 149, 149);
    width:530px;
}

.like{
    background:none;
    display:flex;
}
#likebt, #cmt, #flag{
    border:none;
    background:none;
    margin-left:10px;
    margin-right:5px;
    cursor:pointer;
}
.like-img, .dislike-img, .cmt-img, .flag-img{
    background:none;
    width:20px;
}
.like-img:hover{
    content:url("./image/icon/icons8-like-green-24.png");
}
.dislike-img:hover{
    content:url("./image/icon/icons8-dislike-green-24.png");
}
#comment-number{
    background:none;
    color:gray;
    font-size: 12px;
}
.cmt-img:hover{
    content:url("./image/icon/icons8-comments-green-30.png");
}
.flag-img:hover{
    content:url("./image/icon/icons8-flag-green-30.png");
}
#subcmt{
    width:15px;
}
.bottom_right{
    width:auto;
    margin-right:20px;
}
.rate{
    text-align: center;
    margin-bottom:10px;
}
#ratebt{
    border:none;
    cursor:pointer;
}
.rateimg:hover{
    content: url("./image/icon/icons8-star-rate-24.png");
}
.ratebt:after{
    content:url("./image/icon/icons8-star-green-24.png");
}
.bottom_right li{
    list-style-type: none;
    margin-bottom:20px;
}
.bottom_right a{
    text-decoration:none;
    color:#cccccc;
}
.bottom_right label{
    background:none;
    cursor:pointer;
}
.bottom_right p{
    line-height: 20px;
    font-size: 8px;
}

.bottom_right #more{
    background-color:rgb(24, 24, 24);
    border-radius: 15px;
    width:280px;
    height:40px;
    text-align: center;
    font-size: 14px;
}
#more a{
    background:none;
    display:flex;   /*cùng hàng*/
    padding-top:8px;
    padding-left:50px;
    text-align: center;
}
#more img, .best-div img{
    width:25px;
    background:none;
}
#more label, .best-div label{
    margin-left:10px;  /*cách hình*/
}

.morebt{
    cursor:pointer;
    border:none;
    width:280px;
    position:relative;
    display:flex;
    margin-bottom:20px;
}
.button_img{
    width:280px;
    height:200px;
    border-radius: 10px;
}
.best-div{
    position:absolute;
    background:#282626;
    border-radius: 10px;;
    opacity:0.7;
    width:280px;
    height:35px;
    margin-top:165px;
    padding-top:8px;
    padding-left: 5px;
    color:white;
    display:inline-flex;
    text-align: center;
    font-size: 11px;
}
.best-div img{
    margin-bottom:6px;
}

#news{ 
    cursor:pointer;
    font-size: 11px;
    display:flex;
    border:2px solid rgb(96, 93, 93);
    border-radius: 10px;
    width:280px;
    padding: 5px;
}
#news img{
    float:right;
    width:65px;
    height:85px;
    border-radius: 10px;
}
.loader {
border: 5px solid #f3f3f3;
position:fixed;
left:46%;
border-radius: 50%;
border-top: 4px solid #3DD2CC;
width: 110px;
height: 110px;
animation: spin 2s linear infinite;
}

.loader-wrapper {
position: fixed;
width:100%;
top: 0;
left: 0;
background: black;
position: fixed;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.sign_up-wapper{
position: fixed;
width:100%;
top: 0;
left: 0;
background: black;
position: fixed;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.sign_up{
position:fixed;
width: 120px;
Height: 120px;
left: 45%;
right: 45.51%;
top: 40%;
bottom: 46%;
animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}








